# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# Python
# --------------------
__pycache__/
*.pyc

# --------------------
# Conda / Entornos
# --------------------
.env
venv/
env/
*.conda

# --------------------
# Datos pesados
# --------------------
data/
*.csv
*.parquet
*.xlsx

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db
